<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{currentUser.fullName}}</span>
  <span class="example-spacer"></span>
  <button mat-button *ngIf="canPublish()" (click)="AddPost()">Add Post</button>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" (click)="SetUnregisteredUser()">
    <mat-icon>User</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" (click)="SetWriterUser()">
    <mat-icon>Writer</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" (click)="SetEditorUser()">
    <mat-icon>Editor</mat-icon>
  </button>
</mat-toolbar>
<div class="grid-container">
  <h1 class="mat-h1">{{userTitle}}</h1>
  <mat-grid-list cols="1" rowHeight="200px">
    <mat-grid-tile *ngFor="let card of posts">

      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>{{card.title}}</mat-card-title>
          <mat-card-subtitle>By {{card.author.fullName}} at {{card.submitDate}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div>
            {{card.content}}
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button *ngIf="canRevise()" (click)="Check(card.id, true)">Approve</button>
          <button mat-button *ngIf="canRevise()" (click)="Check(card.id, false)">Reject</button>
          <button mat-button *ngIf="canComment(card.status)" (click)="Comment(card.id)">Comment</button>
          <button mat-button *ngIf="canEdit(card.status)" (click)="Edit(card.id)">Edit</button>
        </mat-card-actions>
      </mat-card>

    </mat-grid-tile>
  </mat-grid-list>
</div>
